.cast {
    $this: &;

    // 上段
    &-wrap:nth-of-type(1) {
        padding-bottom: $pd-md;
        @include mq('md') {
            background: linear-gradient(180deg, transparent 0%, transparent 185px, $color-bg 185px, $color-bg 100%);
        }
        @include mq('sp') {
            background: linear-gradient(180deg, transparent 0%, transparent 100px, $color-bg 100px, $color-bg 100%);
        }

        #{$this}-list {
            @include _fwrap('md3');
        }

        #{$this}-name {
            @include mq('sp') {
                margin-top: 15px;
            }
            @include mq('md') {
                margin-top: 38px;
                height: 80px;                
            }
        }
    }

    &-img {
        text-align: center;

        img {
            border-radius: 50%;
            @include mq('sp') {
                width: 55%;
            }
            @include mq('md') {
                width: 88%;              
            }
        }
    }

    &-info {
        overflow: hidden;
    }

    &-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2 {
            font-size: $fz-m;
            font-weight: $fw-bold;
        }

        small {
            font-size: $fz-xs;
            color: $color-txt-light;
        }
    }

    &-txt {
        margin-top: $pd-md / 2;
        font-size: $fz-xs;
        color: $color-txt-light;
        padding-bottom: 1em;
    }

    &-btn {
        margin-top: $pd-md / 2;
        text-align: center;

        a {
            @include _btn('more');
            width: 105px;
            line-height: 25px;
        }
    }
}