// テキスト
$color-txt-base: #333;
$color-txt-dark: #301F1B;
$color-txt-light: #666;
$color-txt-white: #FFF;
$color-txt-nav: #F1C201;

// 背景
$color-bg: rgba(255, 255, 255, 0.9);
$color-bg-input: rgba(255, 255, 255, 0.7);
$color-bg-box: rgba(255, 255, 255, 0.29);
$color-bg-white: #FFF;
$color-bg-dark: #1A1A1A;
$color-bg-black: #000;
$color-bg-grade: rgba(0, 0, 0, 0.1);

// ボタン・リンク
$color-link-base: #C63205;
$color-link-inq: #603813;