// フォントファミリー
@import url("https://use.typekit.net/yoe0pvr.css");
$ff-en: open-sans, sans-serif;
$ff-base: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,sans-serif;

// フォントサイズ
$fz-xl: 34px;
$fz-l: 22px;
$fz-m: 18px;
$fz-base: 16px;
$fz-s: 14px;
$fz-xs: 12px;

// その他
$lh-base: 1.75;
$fw-bold: 600;
