input,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
    border: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 100%;

    &:focus {
        box-shadow: none;
    }
}

button[type='submit'] {
    -webkit-appearance: none;
    background-image: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    text-decoration: none;

    &:hover {
        outline: none;
    }

    &::-moz-foucus-inner {
        border: none;
        padding: 0;
    }
}
  
  
  
